<div class="row justify-content-center" id="image-display" style="display: none">
  <div class="col-9 mt-2">
    <img src="/images/clothing/woman-placeholder.jpg" class="img-fluid" alt="...">
    <div class="mb-3">
      <input class="form-control" type="file" id="formFile">
    </div>
  </div>
</div>