<div class="row justify-content-center" id="item-order-details" style="display: none">

   <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="order-id">Order Id:</span>
      <input type="text" class="form-control" value="{{item.order_id}}" aria-label="order-id" aria-describedby="order-id">
    </div>
  </div>

   <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="customer-name">Customer Name:</span>
      <input type="text" class="form-control" value="{{item.customer_name}}" aria-label="customer-name" aria-describedby="customer-name" disabled>
    </div>
  </div>

</div>