<div class="row justify-content-center" id="item-extra-info" style="display: none">

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="edit-material">material:</span>
      <input type="text" class="form-control" placeholder="material" value="{{item.material}}" aria-label="edit-material" aria-describedby="edit-material">
    </div>
  </div>

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="edit-style">style:</span>
      <input type="text" class="form-control" placeholder="style" value="{{item.style}}" aria-label="edit-style" aria-describedby="edit-style">
    </div>
  </div>

  <div class="col-9">
    <div class="input-group">
      <span class="input-group-text" id="extra-info">Extra Info</span>
      <textarea class="form-control" rows="10" aria-label="extra-info" aria-describedby="extra-info">{{item.extra_info}}</textarea>
    </div>
  </div>  

</div>