<div class="row">
  <div class="btn-group col-12" role="group" aria-label="Manage edit tabs">
    <button type="button" class="btn btn-primary modal-nav active" id="main-tab">Main</button>
    <button type="button" class="btn btn-primary modal-nav" id="image-tab">Image</button>
    <button type="button" class="btn btn-primary modal-nav" id="price-tab">Price</button>
    <button type="button" class="btn btn-primary modal-nav" id="package-tab">Package</button>
    <button type="button" class="btn btn-primary modal-nav" id="order-tab">Order</button>
    <button type="button" class="btn btn-primary modal-nav" id="extra-info-tab">Extra Info</button>
  </div>
</div>
