<div class="row">
  <div class="col" id="wrappers">
    <input type="radio" class="btn-check" name="options" id="default-wrapper" checked>
    <label class="btn btn-secondary" for="default-wrapper">Default</label>

    <input type="radio" class="btn-check" name="options" id="sell-wrapper">
    <label class="btn btn-secondary" for="sell-wrapper">Sell</label>

    <input type="radio" class="btn-check" name="options" id="package-wrapper">
    <label class="btn btn-secondary" for="package-wrapper">Package</label>

    <input type="radio" class="btn-check" name="options" id="inventory-wrapper">
    <label class="btn btn-secondary" for="inventory-wrapper">Inventory</label>
  </div>
</div>

<div class="row" id="sell-options">
  <div class="col">
    <select name="month-sold" id="sell-options-select">
      <option>January 2023</option>
      <option>February 2023</option>
      <option>March 2023</option>
      <option>April 2023</option>
      <option>May 2023</option>
      <option>June 2023</option>
      <option>July 2023</option>
      <option>August 2023</option>
      <option>September 2023</option>
      <option>October 2023</option>
      <option>November 2023</option>
      <option>December 2023</option>
      <option>January 2022</option>
      <option>February 2022</option>
      <option>March 2022</option>
      <option>April 2022</option>
      <option>May 2022</option>
      <option>June 2022</option>
      <option>July 2022</option>
      <option>August 2022</option>
      <option>September 2022</option>
      <option>October 2022</option>
      <option>November 2022</option>
      <option>December 2022</option>
    </select>
  </div>
</div>

<div class="row" id="uah-usd">
  <div class="input-group col-3">
    <span class="input-group-text">UAH to USD:</span>
    <input type="text" value="" class="form-control">
  </div>
</div>

<div class="row" id="quick-package">
  <div class="input-group col-3">
    <span class="input-group-text" id="package-number">Package Number:</span>
    <input type="text" name="" class="form-control">
  </div>
  <div class="input-group col-4">
    <span class="input-group-text" id="generated-package-name">Package Name:</span>
    <input type="text" name="" class="form-control" disabled>
  </div>
</div>