<th>{{receipt.id}}</th>
<td><input type="text" value="{{receipt.store}}" name="store" /></td>
<td></td>
<td><input type="text" value="{{receipt.tax}}" name="tax" /></td>
<td></td>
<td><input type="date" value="{{receipt.purchase_date}}" name="purchase_date" /></td>
<td><button class="save">Save</button></td>
<td><button class="cancel">Cancel</button></td>
