<div class="row">
  <div class="col mb-5">
    <form action="/clothing/findtag" method="GET">
      <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1">Tag:</span>
        <input type="text" name="tagNumber" class="form-control" placeholder="######" aria-label="######" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-primary">Search Everywhere</button>
      </div>
    </form>
  </div>
</div>