<div class="row">
  <div class="col">
    <div class="input-group mt-3">
      <span class="input-group-text" id="basic-addon1">Tag:</span>
      <input type="text" class="form-control" placeholder="######" aria-label="######" aria-describedby="basic-addon1">
    </div>
  </div>
</div>