<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Brandomania express</title>
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div id="modal-container"></div>
  <div class="container-sm">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navigation">
          <ul class="nav nav-pills flex-column justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/clothing" aria-disabled="true">Clothing</a>
              {{!-- <a class="nav-link active" href="/clothing" aria-disabled="true">Clothing</a> --}}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/packages" aria-disabled="true">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/receipts" aria-disabled="true">Receipts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders" aria-disabled="true">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customers" aria-disabled="true">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders/monthly-profit" aria-disabled="true">Montly Profit</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary" role="alert" id="flash-message" style="display: none">
          Success
        </div>
      </div>
    </div>
    {{>package-sell-wrapper}}
    {{{body}}}
    {{>tag-search}}
  </div>
  
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/switch-modes.js"></script>
  <script src="/js/quick-sell.js"></script>
  <script src="/js/convert-currency.js"></script>
  <script src="/js/quick-package.js"></script>
  <script src="/js/quick-inventory.js"></script>
  <script src="/js/websocket-signed-in.js"></script>
</body>
</html>