<div>
  <div class='row'>
    <div class='col large square'>
      <h1>Customers</h1>
      <a href='customers/view'><div class='large-square light-blue'><span
            class='square-content'
          >View</span></div></a>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <a href='customers/add'><div class='large-square light-blue'><span
            class='square-content'
          >Add</span></div></a>
    </div>
  </div>
</div>