<div>
<div class="row">
  <div class="col large square">
    <div class="large-square light-blue"><span class="square-content">Brand</span></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="large-square light-blue"><span class="square-content">Type</span></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="large-square light-blue"><span class="square-content">Color</span></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="large-square light-blue"><span class="square-content">Size</span></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="large-square light-blue"><span class="square-content">Location</span></div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <button type="button" class="btn btn-primary large-square">Find</button>
  </div>
</div>
</div>