<div>
<div class="row">
  <div class="col large square">
    <a href="/view/women"><div class="large-square light-blue"><span class="square-content">Women</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/view/men"><div class="large-square light-blue"><span class="square-content">Men</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/view/all"><div class="large-square light-blue"><span class="square-content">All</span></div></a>
  </div>
</div>
</div>