<div>
<div class="row">
  <div class="col large square">
    <a href="/clothing/view/{{inventory}}/women"><div class="large-square light-blue"><span class="square-content">Women</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/clothing/view/{{inventory}}/men"><div class="large-square light-blue"><span class="square-content">Men</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/clothing/view/{{inventory}}/all"><div class="large-square light-blue"><span class="square-content">All</span></div></a>
  </div>
</div>
</div>