<div>
<div class="row">
  <div class="col">
    <a href="/clothing/view/instock"><div class="large-square light-blue"><span class="square-content">In Stock</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/clothing/view/all"><div class="large-square light-blue"><span class="square-content">All</span></div></a>
  </div>
</div>
</div>