<div>
<div class="row">
  <div class="col large square">
    <h1>Receipts</h1>
    <a href="receipts/view"><div class="large-square light-blue"><span class="square-content">View</span></div></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="receipts/add"><div class="large-square light-blue"><span class="square-content">Add</span></div></a>
  </div>
</div>
</div>