.large-square {
  width: 100%;
  height: 6rem;
  margin-top: 5px;
  text-align: center;
}

.filter-square {
  width: 100%;
  margin-top: 5px;
  min-height: 6rem;
  padding-left: 5px;
}

#brand-filter, #type-filter, #colors-filter, #size-filter, #location-filter {
  display: none;
}

.light-blue {
  background-color: rgba(72, 170, 240, .5);
}

.light-purple {
  background-color: rgba(164, 58, 176, .5);
}

.square-content {
  height: 6rem;
  line-height: 6rem;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 66%;
  width: 100%; 
}

.item-size, .tag-number, .brand-name, .purchase-price, .item-type, 
.package-name, .item-colors {
  background-color: white;
  font-size: .6rem;
  position: absolute;
  text-align: center;
  height: .8rem;
}

.country-img {
  width: 25px;
  height: 25px;
  position: absolute;
}

.item-size {
  top: 25px;
  width: 25px;
}

.tag-number {
  right: 0;
}

.brand-name {
  right: 0;
  top: 1.5rem;
}

.item-type {
  right: 0;
  top: 3rem;
}

.item-colors {
  right: 0;
  top: 4.5rem;
}

.package-name {
  right: 0;
  top: 6rem;
}

.purchase-price {
  top: 7.5rem;
  right: 0;
}

.sold {
  text-align: center;
  position: absolute;
  top: 10%;
  border: 2px solid red;
  margin-top: 5rem;
  transform: rotate(0.1turn);
  color: red;
  font-size: 2rem;
  width: 100%;
  height: 3rem;
}

.custom-modal {
  z-index: 3;
  position: fixed;
  /* top: 0; */
  /* background-color: rgba(0, 0, 0, .4); */
  width: 100%;
  height: 100%;
}

#modal-backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
}

#modal-form {
  background-color: black;
}

.edit {
  z-index: 1;
}