.large-square {
  width: 100%;
  height: 6rem;
  margin-top: 5px;
  text-align: center;
}

.filter-square {
  width: 100%;
  margin-top: 5px;
  min-height: 6rem;
  padding-left: 5px;
}

#brand-filter, #type-filter, #colors-filter, #size-filter, #location-filter {
  display: none;
}

.light-blue {
  background-color: rgba(72, 170, 240, .5);
}

.light-purple {
  background-color: rgba(164, 58, 176, .5);
}

.square-content {
  height: 6rem;
  line-height: 6rem;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* .detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 66%;
  width: 100%; 
} */


/* working */
#sell-options, #uah-usd, #quick-package {
  display: none;
}

.sell-wrapper input {
  font-size: 1rem;
}

.right-click-options, .package-wrapper, .sell-wrapper, .inventory-wrapper {
  display: none; 
  /* position: absolute;
  top: 20%;
  width: 100%; */
  position: relative;
  bottom: 3rem;
}

.right-click-options button, .package-wrapper button, .sell-wrapper button, .inventory-wrapper button {
  width: 100%;
  height: 3rem;
}

.item-size, .tag-number, .brand-name, .purchase-price, .item-type, 
.package-name, .item-colors, .receipt-number {
  background-color: white;
  font-size: .8rem;
  position: absolute;
  text-align: center;
  height: .8rem;
}

.instock {
  position: relative;
  color: green;
  left: 35%;
  top: -3rem;
  font-size: 1rem;
  font-weight: bold;
}

.country-img {
  position: relative;
  top: -10px;
  left: -10px;
  width: 2rem;
  height: 2rem;
  /* position: absolute; */
}

/* @media only screen and (max-width: 600px) {
  .country-img {
    position: relative;
    top: -10px;
    left: -10px;
  }
} */

.item-size {
  top: 3rem;
  left: 1rem;
  max-width: 3rem;
}

.tag-number {
  font-size: 1.2rem;
  top: 0;
  right: 0;
}

.brand-name {
  right: 0;
  top: 1.5rem;
}

.item-type {
  right: 0;
  top: 3rem;
}

.item-colors {
  right: 0;
  top: 4.5rem;
}

.package-name {
  right: 0;
  top: 6rem;
}

.purchase-price {
  top: 7.5rem;
  right: 0;
}

.receipt-number {
  top: 9rem;
  right: 0;
}

.sold {
  text-align: center;
  position: absolute;
  top: 10%;
  border: 2px solid red;
  margin-top: 5rem;
  transform: rotate(0.1turn);
  color: red;
  font-size: 2rem;
  width: 100%;
  height: 3rem;
}

.pending {
  text-align: center;
  position: absolute;
  top: 10%;
  border: 2px solid green;
  margin-top: 5rem;
  transform: rotate(0.1turn);
  color: green;
  font-size: 2rem;
  width: 100%;
  height: 3rem;
}

.custom-modal {
  z-index: 3;
  position: fixed;
  /* top: 0; */
  /* background-color: rgba(0, 0, 0, .4); */
  width: 100%;
  height: 100%;
}

#modal-backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
}

#modal-form {
  background-color: black;
}

.edit {
  position: relative;
  bottom: 2.5rem;
  z-index: 1;
  height: 3rem;
}

.copy-button {
  position: relative;
  bottom: 2.5rem;
  z-index: 1;
  height: 3rem;
}

.glowing {
  background-color: lightgoldenrodyellow;
}

.filter-span {
  background-color: pink;
  margin-top: 3px;
  padding: 5px;
}

#preview-container {
  width: 100%;
}

#preview {
  max-width: 50%;
}

.custom-img-fluid {
  max-width: 40%;
  height:auto
}

.card-body {
  font-size: 1rem;
  padding: .3rem .3rem;
}

/* .card-img-top { */
  /* -webkit-user-select: none; disable selection/Copy of UIWebView */
  /* -webkit-touch-callout: none; disable the IOS popup when long-press on a link */
/* } */

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.required {
  border: 2px solid green;
}

a.package-link {
  color: red;
}