main {
  width: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

table, h1 {
  margin: 0 auto;
}

table, td, tr, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 0 4px;
}